html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}
body{
    background:url('../images/bgImg.jpg') no-repeat;
    background-size: 100% 100%;
    font-size:12px;
}
#mainDiv{
    width:100%;
    height:100%;
    position: relative;
}
#loveHeart{
    width:670px;
    height:625px;
    position: absolute;
    bottom: 36px;
}
#garden{
    width:100%;
    height:100%;
}
#elapseClock{
    text-align:right;
    font-size:22px;
    margin-top:10px;
    margin-bottom:10px;
}
#words{
    width:500px;
    font-size:28px;
    color:#333;
}
#messages{display:none}
#elapseClock .digit{font-size:34px}
#loveu{
    font-size:26px;
    margin-top:66px;
    margin-right:120px;
    text-align:right;
    display:none;
}
#loveu .signature{
    margin-top:10px;
    font-size:24px;
    font-style:italic;
}
#code{
    width: 100%;
    color:#666;
    font-size:32px;
    box-sizing: border-box;
    padding: 36px 24px 0;
}
#code .placeholder{margin-left:64px}
#copyright{
    margin-top:10px;
    text-align:center;
    width:100%;
    color:#666;
}
#errorMsg{
    width:100%;
    text-align:center;
    font-size:24px;
    position:absolute;
    top:100px;
    left:0;
}
#copyright a{color:#666}